*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 13.3333px;
    color: #942300;
}
body {
    height: 100%;
    background-image: url("images/background.png");
    background-size: cover;
}
h1 {
    font-size: 20px;
    color: #292828;
}
h2 {
    font-size: 15px;
    color: #555555;
}
img {
    max-width: 10%;
    height: auto;
    border-radius: 50%;
  }
button {
    background-color: #ebfffc;
    color: #00947e;
    border-width: 1px;
    cursor: pointer;
    padding: 10px 15px 10px;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    border: none;
    outline: none;

    
}
button:hover{
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, 
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, 
    rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    transition: 0.3s;
}
input{
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
}
.flex-container {
    display: flex;
    flex-direction: row;
}
.character-container {
    width: 25%;
    margin: 5px;
    height: 90vh;
    margin-left: 15%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, 
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, 
    rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}
.characters {
    width: 100%;
}
.character {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}
.header {
    background: #26A78F;
    overflow: hidden;
    height: 50px;
    border-radius: 9px 9px 0 0;
}
.header h1 {
    color: white;
    padding: 13px;
}
.character:hover{
    background-color: #DBE9F8;
}

.section {
    width: 640px;
    margin: 5px;
    height: 90vh;
    display: grid;
    place-items: center;
    background-color: white;
    border-radius: 9px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, 
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, 
    rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}
.instructions {
    display: grid;
    place-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

}
.container {
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, 
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, 
    rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    border-radius: 5px;

}
.options {
    margin-bottom: 40px;
}
.white-board{
    margin-top: 5%;
    display: grid;
    place-items: center;
}
.btn-white-board {
    background-color: #ffebeb;
    color: #942300;
    
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: end;
    background: #0046356e;
}
.footer-text{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 10px;


}
a {
    color: white;
}





    